<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
     <title th:utext="#{label.title}"></title>
</head>
<body>
<h2 th:text="#{label.welcome}">...</h2>
<table>
<thead>
<tr>
    <th th:text="#{label.id}">ID</th>
    <th th:text="#{label.name}">Name</th>
    <th th:text="#{label.series}">Series</th>
</tr>
</thead>
<tbody>
<tr th:each="cars : ${cars}">
    <td><span th:text="${cars.id}"> Title </span></td>
    <td><span th:text="${cars.name}"> Author </span></td>
    <td><span th:text="${cars.series}"> Series </span></td>
</tr>
</tbody>
</table>

</body>
</html>